@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/*variables*/
:root {
  --main-bg-color:rgba(11, 11, 12, 0.945);
  --main-header-bg-color: rgba(0, 0, 0, 0.144);
  --main-box-shadow: 0 4px 8px #00000030;
  --main-font-color: #FFF;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 2;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
  }

  ul {
    list-style: none;
  }

  a {
    color: var(--main-font-color);
    text-decoration: none;
  }